.btn-gradient {
  border-radius: 10em;
  -webkit-border-radius: 10em;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.form-control{
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  background-image: none;
  background-color: transparent;
}

.form-control:focus {
  color: #fff;
  outline: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  background-image: none;
  background-color: transparent;
}

.form-control::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form-control::placeholder {
  color: #fff;
  opacity: 1;
}