<!DOCTYPE html>
<html lang="en">
<head>
    <title>My site</title>
</head>

<body>
<div class="container">
    <h1>My Website</h1>
    <p>I have created my own webserver with Node.js!</p>

    <table>
        <% for(var i=0; i < data.length ; i++) { %>
        <tr>
            <td><%= data[i].code %></td>
        </tr>
        <% } %>
    </table>
    <h2><%= pass %></h2>
    <h3><%= data.length %></h3>
</div>
</body>
</html>