body, html {
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: 'Kodchasan', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background: #50a3a2;
    background: -webkit-linear-gradient(top left, #7534FF 0%, #9D32E8 50%, #E234FF 100%);
    background: linear-gradient(to bottom right, #7534FF 0%, #9D32E8 50%, #E234FF 100%);*/
    background: #E8756B;
    background: -webkit-linear-gradient(top left, #FF6984 0%, #E8756B 50%, #FF9C80 100%);
    background: linear-gradient(to bottom right, #FF6984 0%, #E8756B 50%, #FF9C80 100%);
  }